<%= form_for(@nameserver) do |f| %>
  <% if @nameserver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nameserver.errors.count, "error") %> prohibited this nameserver from being saved:</h2>

      <ul>
      <% @nameserver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
