<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>

<div class="contacts index">
  <h2>Pages</h2>

	<table class="listing" >
		<tr class="header">
			<th>&nbsp;</th>
			<th>id</td>
			<th>name</th>
			<th>email</th>
		</tr>
		<% @contacts.each do |c| %>
		<tr>
			<td><%= c.id %></td>
			<td><%= c.name %></td>
			<td><%= c.email %></td>
		</tr>
		<% end %>
	</table>
</div>